.formWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.label {
  padding: 0px;
}

.selectInput {
  margin-top: 8px;
  width: 300px;
}

.selectInput :global(.react-select__control) {
  cursor: pointer;
  margin-top: 8px;
  height: 48px;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.11;
  color: var(--black);
  border-radius: 14px;
  background-color: var(--input-color);
  outline: none;
  border: none;
  transition: var(--transition);
}

.selectInput :global(.react-select__control):hover {
  border: 1px solid var(--main-blue);
  outline: none;
  box-shadow: none;
}

.selectInput :global(.react-select__control--is-focused) {
  border: 1px solid var(--main-blue);
  outline: none;
  box-shadow: none;
}

.selectInput :global(.react-select__placeholder) {
  color: var(--black);
}

.selectInput :global(.react-select__option) {
  color: var(--main-text);
  background-color: var(--white);
  cursor: pointer;
  transition: var(--transition);
}

.selectInput :global(.react-select__option:hover) {
  color: var(--black);
  background-color: var(--white);
}

.selectInput :global(.react-select__option:focus) {
  color: var(--black);
  background-color: var(--white);
}

.selectInput :global(.react-select__option--is-selected) {
  background-color: #f7f7fb;
  color: #121417;
}

.selectInput :global(.react-select__menu) {
  margin-top: 4px;
  z-index: 4;
  overflow: hidden;
  border: 1px solid rgba(18, 20, 23, 0.05);
  box-shadow: 0px 4px 36px 0px rgba(0, 0, 0, 0.02);
  background-color: var(--white);
  border-radius: 14px;
}

.selectInput :global(.react-select__single-value) {
  font-weight: 500;
  font-size: 18px;
  color: var(--black);
}

.selectInput :global(.react-select__dropdown-indicator) {
  border: none;
  color: var(--black);
}

.selectInput :global(.react-select__dropdown-indicator:hover) {
  border: none;
  color: var(--black);
}

.selectInput
  :global(.react-select__control--menu-is-open)
  :global(.react-select__dropdown-indicator) {
  transform: rotate(180deg);
}

.selectInput :global(.react-select__indicator-separator) {
  display: none;
}

.inputsWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0px;
}

.input {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.11;
  color: var(--black);
  border-radius: 14px;
  width: 150px;
  height: 48px;
  padding: 14px 24px;
  margin-top: 8px;
  background-color: var(--input-color);
  border: none;
  transition: var(--transition);
  outline: none;
}

.input:hover {
  border: 1px solid var(--main-blue);
}

.wrapper {
  position: relative;
}

.span {
  position: absolute;
  left: 24px;
  bottom: 13px;
  color: var(--black);
  font-weight: 500;
  font-size: 18px;
}

.inputFrom {
  padding-left: 70px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right: 1px solid rgba(138, 138, 137, 0.2);
}

.inputTo {
  padding-left: 50px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.inputsWrapper:hover .inputFrom {
  border: 1px solid var(--main-blue);
  border-right: 1px solid rgba(138, 138, 137, 0.2);
}

.inputsWrapper:hover .inputTo {
  border: 1px solid var(--main-blue);
  border-left: none;
}

.inputFrom:hover .inputTo,
.inputTo:hover .inputFrom {
  border: 1px solid var(--main-blue);
}

.searchBtn {
  width: 300px;
}

@media only screen and (min-width: 768px) {
  .form {
    max-width: 774px;
    flex-direction: row;
    align-items: end;
    flex-wrap: wrap;
  }

  .selectBrand {
    width: 250px;
  }
  .selectPrice {
    width: 125px;
  }

  .searchBtn {
    width: 136px;
  }
  .input {
    width: 160px;
  }
}

@media only screen and (min-width: 1440px) {
  .form {
    flex-direction: row;
    align-items: end;
    flex-wrap: nowrap;
    width: 100%;
    gap: 18px;
  }
  .selectBrand {
    width: 224px;
  }
  .selectPrice {
    width: 125px;
  }

  .searchBtn {
    width: 136px;
  }
  .input {
    width: 160px;
  }
}
