.formWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.label {
  padding: 0px;
}

.selectInput {
  margin-top: 8px;
  width: 300px;
}

.selectInput :global(.react-select__control) {
  margin-top: 8px;
  height: 48px;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.11;
  color: var(--black);
  border-radius: 14px;
  background-color: var(--input-color);
  outline: none;
  border: none;
  transition: var(--transition);
}

.selectInput :global(.react-select__placeholder) {
  color: var(--black);
}

.selectInput :global(.react-select__control--is-focused) {
  border: 1px solid var(--main-blue);
  outline: none;
  box-shadow: none;
}

.selectInput :global(.react-select__control:hover) {
  border: 1px solid var(--main-blue);
  outline: none;
}

.selectInput :global(.react-select__single-value) {
  font-weight: 500;
  font-size: 18px;
  color: var(--black);
}

.selectInput :global(.react-select__menu) {
  margin-top: 4px;
  z-index: 2;
  overflow: hidden;
  scrollbar-width: 2px;
  border: 1px solid rgba(18, 20, 23, 0.05);
  border-radius: 14px;
}

.selectInput :global(.react-select__option:hover) {
  color: var(--black);
}

.selectInput :global(.react-select__dropdown-indicator) {
  border: none;
  color: var(--black);
}

.selectInput :global(.react-select__dropdown-indicator:hover) {
  border: none;
}

.selectInput :global(.react-select__indicator-separator) {
  display: none;
}

.inputWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0px;
}

.input {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.11;
  color: var(--black);
  border-radius: 14px;
  width: 150px;
  height: 48px;
  padding: 14px 24px;
  margin-top: 8px;
  background-color: var(--input-color);
  border: none;
  transition: var(--transition);
  outline: none;
  &:hover {
    border: 1px solid var(--main-blue);
  }
  &:focus {
    border: 2px solid var(--main-blue);
  }
}

input::placeholder {
  color: var(--black);
}

.inputFrom {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right: 1px solid rgba(138, 138, 137, 0.2);
}

.inputTo {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.inputWrapper:hover .inputFrom {
  border: 1px solid var(--main-blue);
  border-right: 1px solid rgba(138, 138, 137, 0.2);
}

.inputWrapper:hover .inputTo {
  border: 1px solid var(--main-blue);
  border-left: none;
}

.inputFrom:hover .inputTo,
.inputTo:hover .inputFrom {
  border: 1px solid var(--main-blue);
}

.searchBtn {
  width: 300px;
}

@media only screen and (min-width: 768px) {
  .form {
    flex-direction: row;
    align-items: end;
    width: 100%;
  }

  .selectBrand {
    width: 180px;
  }
  .selectPrice {
    width: 110px;
  }

  .searchBtn {
    width: 90px;
  }
  .input {
    width: 110px;
  }
}

@media only screen and (min-width: 1440px) {
  .form {
    gap: 18px;
  }
  .selectBrand {
    width: 224px;
  }
  .selectPrice {
    width: 125px;
  }

  .searchBtn {
    width: 136px;
  }
  .input {
    width: 160px;
  }
}
